#ads {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  background: #ddd;
  z-index: 999;
}

#ad_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ad_text h2 {
  color: #fff;
  font-size: 24px;
  text-align: center;
  font-family: Arial;
}

#ads_img {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 100px;
  object-fit: cover;
}

#ads a {
  position: relative;
  display: block;
  width: 100%;
  height: 100px;
  text-decoration: none;
  z-index: 999;
}

.transparent-popup {
  background: transparent !important;
}
.my-cancel {
  color: purple;
  background: #ddd;
}

.popup_text {
  color: green !important;
  font-size: 20px !important;
  text-decoration: none;
  background-color: #ffffff;
}
