<!-- page.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
  </head>
  <style>
    .form-container {
      max-width: 500px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    input,
    select {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin-bottom: 20px;
      box-sizing: border-box;
    }

    button[type="submit"] {
      background-color: #4caf50;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      width: 100%;
      font-size: 16px;
    }

    button[type="submit"]:hover {
      background-color: #45a049;
    }

    @media (min-width: 768px) {
      .form-container {
        width: 600px;
      }
    }
  </style>

  <body>
    <%- include("navbar") %>
    <div class="form-container">
      <h1>Edit Product</h1>

      <form method="post" enctype="multipart/form-data" id="myForm">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" value="<%= ad.name %>" />
        </div>

        <div class="form-group">
          <label for="link">Link:</label>
          <input type="text" id="link" name="link" value="<%= ad.link %>" />
        </div>

        <div class="form-group">
          <label for="image">Image:</label>
          <input type="file" id="image" name="image" />
        </div>

        <div class="form-group">
          <label for="location">Location:</label>
          <select id="location" name="location">
            <% if (ad.location=="header") { %>
            <option value="header" selected>Header</option>
            <option value="popup">Popup</option>
            <% } else { %>
            <option value="header">Header</option>
            <option value="popup" selected>Popup</option>
            <% } %>
          </select>
        </div>

        <button type="submit" class="ad_id" id="<%= ad._id %>">Update</button>
      </form>
    </div>
    <script>
      // Get form element
      const form = document.getElementById("myForm");

      const adId = document.querySelector(".ad_id").id;

      // Add submit event listener

      // Add submit event listener
      form.addEventListener("submit", (e) => {
        // Prevent default submit
        e.preventDefault();

        // Get form data
        const formData = new FormData(form);

        // AJAX request to submit data
        fetch("/killer/update/" + adId, {
          method: "POST",
          body: formData,
        })
          .then((response) => {
            console.log(response);
            // Handle response
            Swal.fire({
              position: "top-center",
              icon: "success",
              title: "Updated",
              showConfirmButton: false,
              timer: 1500,
            });
          })
          .catch((error) => {
            console.error(error.response);
          });
      });
    </script>
  </body>
</html>
